.godot/
/android/
.gradle
.kotlin
.idea
build
jvm
addons/
examples/
hs_err_pid*.log
earth_hersfeldt_reference.*
exports/

# save folder and ignored contents
save/*
!save/complex.json
!save/nice_continents.json
!save/noodle_pangea.json
!save/planet_supercontinent.json
!save/pretty_world.json
